* {
  box-sizing: border-box;
}

// .theme-default-content:not(.custom) {
//   max-width: 78%;
// }
// .page-nav {
//   max-width:  78%;
// }

@media (max-width: 959px) {
  .theme-default-content:not(.custom) {
    max-width: 78%;
  }
}
@media (max-width: 419px) {
  .theme-default-content:not(.custom) {
    max-width: 100%;
  }
}




